@font-face {
  font-family: "iconfont"; /* Project id 1129336 */
  src: url('iconfont.woff2?t=1632480171194') format('woff2'),
       url('iconfont.woff?t=1632480171194') format('woff'),
       url('iconfont.ttf?t=1632480171194') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoxiao:before {
  content: "\e63d";
}

.icon-qiyeban-moren:before {
  content: "\e63b";
}

.icon-gerenban-moren:before {
  content: "\e63c";
}

.icon-Celwenjian:before {
  content: "\e639";
}

.icon-DGNLIBwenjian:before {
  content: "\e63a";
}

.icon-verify:before {
  content: "\e63f";
}

.icon-shoujihao:before {
  content: "\e608";
}

.icon-objwenjian:before {
  content: "\e638";
}

.icon-fbxwenjian:before {
  content: "\e637";
}

.icon-skpwenjian:before {
  content: "\e636";
}

.icon-weizhiwenjian:before {
  content: "\e635";
}

.icon-a-DXFwenjian_huaban1:before {
  content: "\e633";
}

.icon-a-NWDwenjian_huaban1:before {
  content: "\e634";
}

.icon-daochu:before {
  content: "\e611";
}

.icon-iconset0411:before {
  content: "\e722";
}

.icon-jingzhibodongbaobiao:before {
  content: "\e607";
}

.icon-fanhui:before {
  content: "\e641";
}

.icon-Group-:before {
  content: "\e688";
}

.icon-xiangxia:before {
  content: "\e62a";
}

.icon-dangqian:before {
  content: "\e64c";
}

.icon-quxiaoshoucang:before {
  content: "\e64a";
}

.icon-shoucang:before {
  content: "\e64b";
}

.icon-shezhi:before {
  content: "\e632";
}

.icon-zhuanma:before {
  content: "\e631";
}

.icon-wenjianjia:before {
  content: "\e62d";
}

.icon-dakaiwenjian:before {
  content: "\e62e";
}

.icon-ziwenjian:before {
  content: "\e62f";
}

.icon-tuozhuai:before {
  content: "\e62c";
}

.icon-zhongmingming:before {
  content: "\e62b";
}

.icon-search:before {
  content: "\e623";
}

.icon-more:before {
  content: "\e624";
}

.icon-delete:before {
  content: "\e625";
}

.icon-share:before {
  content: "\e626";
}

.icon-download:before {
  content: "\e627";
}

.icon-upload:before {
  content: "\e628";
}

.icon-xinjianwenjianjia:before {
  content: "\e629";
}

.icon-shipin:before {
  content: "\e621";
}

.icon-yasuo:before {
  content: "\e622";
}

.icon-word:before {
  content: "\e620";
}

.icon-wenjian:before {
  content: "\e61f";
}

.icon-excel:before {
  content: "\e61e";
}

.icon-ppt:before {
  content: "\e61d";
}

.icon-pdf:before {
  content: "\e61c";
}

.icon-text:before {
  content: "\e61b";
}

.icon-tupian:before {
  content: "\e61a";
}

.icon-DGN:before {
  content: "\e616";
}

.icon-RVT:before {
  content: "\e617";
}

.icon-IFC:before {
  content: "\e618";
}

.icon-DWG:before {
  content: "\e619";
}

.icon-shanchu:before {
  content: "\e6fe";
}

.icon-moxingshu1:before {
  content: "\e615";
}

.icon-xiangmuwendang:before {
  content: "\e614";
}

.icon-reload:before {
  content: "\e604";
}

.icon-tubiaojiyaoxiangzuo:before {
  content: "\e60a";
}

.icon-tubiaojiyaoxiangyou:before {
  content: "\e60b";
}

