@font-face {
  font-family: "font_family"; /* Project id 2269145 */
  src: url('iconfont.woff2?t=1624599621157') format('woff2'),
       url('iconfont.woff?t=1624599621157') format('woff'),
       url('iconfont.ttf?t=1624599621157') format('truetype');
}

.font_family {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-BIMwenjian:before {
  content: "\e63b";
}

.icon-fangda:before {
  content: "\e639";
}

.icon-suoxiao:before {
  content: "\e63a";
}

.icon-mapBack:before {
  content: "\e638";
}

.icon-liebiao-mo:before {
  content: "\e636";
}

.icon-tubiao-mo:before {
  content: "\e637";
}

.icon-xiangmuguifan:before {
  content: "\e633";
}

.icon-qiyekanban:before {
  content: "\e634";
}

.icon-zhihuigongdi:before {
  content: "\e635";
}

.icon-xiangmuditu-mo:before {
  content: "\e631";
}

.icon-suoyouxiangmu-mo:before {
  content: "\e632";
}

.icon-wodeguanzhu-mo:before {
  content: "\e630";
}

.icon-xiangmuwenjian:before {
  content: "\e62d";
}

.icon-fenxiang:before {
  content: "\e62c";
}

.icon-shoucang:before {
  content: "\e62b";
}

.icon-quanbuwenjian:before {
  content: "\e62a";
}

.icon-wodewendang:before {
  content: "\e629";
}

.icon-wenjianchuanshu:before {
  content: "\e627";
}

.icon-zhishiku:before {
  content: "\e62f";
}

.icon-arrowup:before {
  content: "\e628";
}

.icon-arrowdown:before {
  content: "\e62e";
}

.icon-zuijin:before {
  content: "\e626";
}

.icon-quanpingbeifen:before {
  content: "\e622";
}

.icon-ziyoudongtaiguanchabeifen:before {
  content: "\e623";
}

.icon-jubufangdabeifen:before {
  content: "\e624";
}

.icon-pingyi:before {
  content: "\e625";
}

.icon-kanban:before {
  content: "\e61e";
}

.icon-xiangmu:before {
  content: "\e61f";
}

.icon-tudang:before {
  content: "\e620";
}

.icon-Bji:before {
  content: "\e621";
}

